html, body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  min-height: 100vh; /* mínimo 100% de la altura de la ventana */
  box-sizing: border-box;
  background: linear-gradient(to bottom, #077A7D, #2d9985);
  padding-top: 100px; /* Ajusta esto al alto real de tu header para que no tape el contenido */
}
section {
  scroll-margin-top: 100px; /* Ajusta este valor a la altura real de tu menú */
}
a, button, img {
  transition:  0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

a:hover, button:hover, img:hover {
  transform: scale(1.07);
}


a{
    text-decoration: none;
}
a:hover{
    color: #06202B;
}
/*menu*/
#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  height: 3rem;
}

.menu {
  color: aliceblue !important;
}

.btnInicio {
  color: #06202B !important;
}
.btnInicio:hover {
  color: aliceblue !important;
}

.menu-bg {
  background-color: rgba(255, 255, 255, 0.332);
  border-radius: 15px;
  padding: 8px 20px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.whatsapp {
  height: 1.5rem;
  margin-right: 5px;
}

/*header*/
.imgHeader{
    border-radius: 5px;
}
p{
    color: white;
}
/*servicios*/
#servicios .container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: stretch;
  }
  
  /* Tarjeta Flip */
  .flip-card {
    background-color: transparent;
    width: 100%;
    max-width: 320px;
    height: 450px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 20px;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Lados de la tarjeta */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    text-align: center;
  }
  
  /* Estilos front */
  .flip-card-front.servicioWhite {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #000;
  }
  
  .flip-card-front.servicioBlack {
    background-color: rgba(48, 46, 46, 0.34);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: white;
  }
  
  /* Lado reverso */
  .flip-card-back {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    transform: rotateY(180deg);
  }
  
  /* Imágenes dentro de la tarjeta */
  .img-servicios {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  /* Títulos */
  h2.display-5 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  /* Títulos Back */
  .backCardHTwo{
    padding-bottom: 30px;


  }
  /* Seccion planes */
  #planes-diseño-web {
    background-color: white;
    padding: 4rem 2rem;
    position: relative;
    z-index: 1;
  }
  .btnContactanos{
    background-color: #06202B;
    color: white;
  }
  .btnContactanos:hover{
    color: #06202B;;
  }
  .last-card{
    background-color: #06202B;
    color: white;
  }
  
  
  
  .onda {
    display: block;
    width: 100%;
    height: 100px;
    margin-top: -1px; /* para evitar línea entre secciones */
  }
  .onda-fin {
    display: block;
    width: 100%;
    height: 100px;
    margin-bottom: -1px;
  }
  